name: use-my-first-action
run-name: run-by-${{ github.actor }}
on: workflow_dispatch

jobs:
  hello_world_job:
    name: A job to say hello
    runs-on: ubuntu-latest

    steps:
      - name: Hello world action step
        id: hello
        uses: yifantop/hello-world-javascript-action@v1.0.4
        with:
          who-to-greet: ZHUO YIFAN

      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
